# ========================
# Windows / Qt / VS 垃圾文件
# ========================
build/
*.build
*.Debug
*.Release
x64/
x86/
debug/
release/
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.idb
*.users
*.user
*.suo
*.sln.docstates
.vs/
*.stash
Makefile*
*.qmake.stash

# ========================
# Linux / C++ / CMake 垃圾文件
# ========================
*.o
*.a
*.so
*.dylib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
core
core.*

# ========================
# 通用忽略
# ========================
.vscode/
.idea/
.DS_Store
*.log
*.tmp