[GateServer]
Port = 8080

[VerifyServer]
Host = localhost
Port = 50051

[StatusServer]
Host = localhost
Port = 50052

[Mysql]
Host=127.0.0.1
Port=3306
User=root
Passwd=your_password
Name=msrChat_Database
